{% extends "base.html" %}

{% block content %}

<div class="container">
		<h3>History - DEVELOPMENT IS IN PROGRESS</h3>
</div>

<div class="container">
  <p>server: 10.1.1.177</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>date</th>
		<th>asis</th>
        <th>daemon-app</th>
        <th>daemon-daemon</th>
		<th>api</th>
		<th>ctools</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>06/07 13:45</td>
        <td>1.0.221</td>
        <td>2.0.7.10_dev_adsfas</td>
		<td>2.0.7.10</td>
		<td>2.0.7.10</td>
		<td>2.0.7.10</td>
      </tr>
      <tr>
        <td>06/07 13:45</td>
        <td>1.0.221</td>
        <td>2.0.7.10_dev_adsfas</td>
		<td>2.0.7.10</td>
		<td>2.0.7.10</td>
		<td>2.0.7.10</td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<div class="container">
  <p>camera: 10.1.4.(1-9)</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>date</th>
        <th>daemon-app</th>
        <th>aci</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>06/07 13:45</td>
        <td>2.0.7.10_dev_adsfas</td>
		<td>2.0.7.10</td>
      </tr>
      <tr>
        <td>06/07 13:45</td>
        <td>2.0.7.10_dev_adsfas</td>
		<td>2.0.7.10</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}