[Unit]
Description=Homunculus service
Requires=docker.service
After=docker.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/docker run --name homunculus -d -p 5000:5000 aqueti/beta:2.0.5.3
ExecStop=/usr/bin/docker stop homunculus
ExecStopPost=/usr/bin/docker rm homunculus
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target