* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #efefef;
  margin: 10px;
}

#req-tree>ul, ul {
  list-style-type: none;
  font-weight: bold;
  font: 16px sans-serif;
}

#req-tree>ul {
  margin: 5px;
  padding: 0;
}

ul {
    margin-left: 14px;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  font-size: 12px;
  color: black;
  display: inline-block;
  margin-right: 3px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

.pass {
    //text-transform: uppercase;
    background-color: #3cb371;
}

.fail {
    background-color: #ff6666;
}

li.req select {
    margin-right: 5px;
}

li.req:hover {
    background-color: #dfdfdf;
}

li.req:hover div.user-info{
    color: #2c2c2c;
}

li>div {
    display: block;
}

#top-panel {
    //background-color: #616161;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #616161
}

#top-panel div {
    margin-left: 0px !important;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 2px;
}

#pbb_submit {
    visibility: hidden;
}

.github {
    //border:1px solid red;
    background-color: #efefef;
}

form.req-submit {
    display: inline-block;
}

form.req-submit input[type="submit"] {
    width: 0;
}

div.github {
    padding-left: 55px;
}

div.github ul {
    margin: 0;
    padding: 0;
    font-size: 80%;
}

.add-link {
    font-size: 90%;
    color: grey;
    cursor: pointer;
}

.add-link:hover {
    color: lightblue;
}

a:link {
  text-decoration: none;
}

#login-form {
    width: 15%;
    margin-right: auto;
    margin-left: auto;
}

#login-form * {
    text-align: center;
    margin-bottom: 5px;
}

#logout-div {
    float: right;
}

.user-info {
    font-size: 60%;
    color: white;
    position: relative;
    float: right;
}
